
# no dots: match hostname
# dots: match FQDN
# re: regex match against FQDN

[DEFAULT]
pages: 150

[book]
title: The Python Standard Library
author: Fredrik Lundh
email: fredrik@pythonware.com
version: 2.0-001115

[ematter]
.include: book
pages: 450
pages: 250

[hardcopy]
.include: ematter
pages: 350
paper: 20 lb

[re:db[\d]+]
